* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.site-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
}

.grupo {
    font-size: 3rem;
    text-transform: uppercase;
    color: #0c0c0c;
    text-shadow: 2px 2px 5px rgb(1, 23, 145);
    animation: slideIn 2s forwards;
    animation-delay: 0.3s;
}

/* Estilos para a landing page */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    opacity: 0; /* Começa invisível */
    animation: fadeIn 4s forwards; /* Animação de entrada */
}

.titulo-loja {
    font-size: 3rem;
    text-transform: lowercase;
    color: #0c0c0c;
    text-shadow: 2px 2px 5px rgb(1, 23, 145);
    animation: slideIn 2s forwards; /* Animação de deslizamento */
    animation-delay: 0.3s; /* Espera antes da animação */
}

/* Coloca a primeira letra em maiúscula e diferente */
.titulo-loja::first-letter {
    font-size: 4rem;
    color: #0737d4;
    text-transform: uppercase;
}

.imagem-principal {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: bounceIn 1s; /* Animação de "bounce" */
}

.icon  {
    margin-top: 20px;
    padding: 15px 30px;
    cursor: pointer;
	position: relative;
	display: inline-block;
	width: 290px;
	height: 80px;
	border-radius: 20px;
	overflow: hidden;
}

.icon::before, .icon::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.25s ease;
	border-radius: 30px;
  }

  
  .icon-fill::before {
	transition-duration: 0.5s;
	box-shadow: inset 0 0 0 1px #0228cf;
  }
  .icon-fill:hover::before {
	box-shadow: inset 0 0 0 60px #0228cf;
  }

  .text {
    position: absolute;
    top: 0; /* Muda para 0 para ocupar todo o espaço */
    left: 0; /* Muda para 0 para ocupar todo o espaço */
    width: 100%; /* Faz o texto ocupar a largura total do bloco */
    height: 100%; /* Faz o texto ocupar a altura total do bloco */
    display: flex; /* Usado para centralizar o texto */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-size: 25px; /* Tamanho da fonte */
    pointer-events: none; /* Impede a interação com o texto */
    font-family:Arial, Helvetica, sans-serif
  }

  /* Seção de newsletter */
.email-newsletter button { 
    display: inline-block; /* Permite que o botão seja centralizado */
    margin-top: 10px; /* Espaço entre o input e o botão */
    padding: 10px 20px; /* Ajusta o tamanho do botão */
}

.email-newsletter {
    text-align: center; /* Centraliza o texto dentro da seção */
    margin: 40px auto; /* Alinha a seção ao centro horizontalmente */
    width: 100%; /* Permite que a seção ocupe toda a largura disponível */
    max-width: 400px; /* Limita a largura máxima da seção */
    opacity: 0; /* Começa invisível */
    animation: fadeIn 1s forwards; /* Animação de entrada */
    animation-delay: 0.5s; /* Espera antes da animação */
}

.email-newsletter h2 {
    font-size: 2rem;
    color: #0f0f0f;
    margin-bottom: 20px;
}

.email-newsletter input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-newsletter {
    padding: 10px 20px;
    background-color: #080808;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-newsletter:hover {
    background-color: #0407b3;
    transform: scale(1.05); /* Aumenta um pouco ao passar o mouse */
}

.email-error {
    color: red;
    margin-top: 10px;
}

/* Seção de promoções */
.promocoes {
    text-align: center;
    margin: 40px 0;
}

.promocoes h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(0, 32, 214); /* Adiciona sombra ao texto */
    animation: slideIn 1s forwards; /* Animação de deslizamento */
}

.promo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.promo {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.promo:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.promo h3 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
    color: #070000;
}

.preco {
    font-size: 1.2rem;
    margin: 10px 0;
}

.preco-destaque {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1304e2;
}

.desconto {
    font-size: 1.5rem;
    color: #e23404;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.logo img {
    height: 150px;
    border-radius: 50%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.login-area a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}
 .login-area img {
    height: 25px;
    border-radius: 20px;
 }

.cart-area {
    position: relative;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.produto h2 {
    margin-bottom: 10px;
}

.produto p {
    margin-bottom: 10px;
}

.produto button {
    background-color: #101011;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.produto button:hover {
    background-color: #080808;
}

.carrinho {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 1px 3px;
    border-radius: 50%;
    background: red;
    color: white;
}

/* Container do produto */
 /* Estilos do modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.5);
    justify-content: center;
    align-items: center; 
}

.modal-content {
    background-color: #fff;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/t2/7327095-fundo-e-texturizado-de-parede-cimento-cinza-cor-gratis-foto.jpg'); /* Adicione a textura aqui */
    background-size: cover;
}

.modal img {
    max-width: 100%;
    border-radius: 10px;
}

.close .modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #030303;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0c0c0c;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.funcionario {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.funcionario img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.funcionario h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.funcionario p {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .funcionario {
        width: 100%;
    }
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    
}

form div {
    margin-bottom: 15px;
}


label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0a0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #0d0e0d;
}

.error {
    color: red;
    font-size: 12px;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(assets/background.jpg);
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem */
}

.banner video {
    max-width: 100%;
    height: 300px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

footer img {
    width: 500px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
nav a:hover {
    color: #0a0a0a;
}

/*botão css*/

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    transition: transform 0.4s ease;
    z-index: 10; 
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.4s ease;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: -200px; 
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, right 0.6s ease; 
    z-index: 9; 
}

.menu.open {
    display: flex;
    opacity: 1;
    right: 20px; 
}

.menu li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 7px 12px;
    border-radius: 5px;
    display: flex;
    transition: transform 0.3s ease, color 0.3s ease;
    align-items: center;
}

.menu li a:hover {
    transform: scale(1.05);
    color: #007bff;
}

.menu li a i {
    margin-right: 8px;
    color: #007bff;
    font-size: 18px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.menu li a:hover i {
    transform: rotate(15deg) scale(1.2);
    color: #0056b3;
}

@media (min-width: 768px) {
    .menu {
        top: 70px;
        right: -300px; 
    }

    .menu.open {
        right: 30px; 
        flex-direction: row; 
        justify-content: space-around;
    }

    .menu li {
        margin: 0 15px;
    }

    .menu li a {
        padding: 12px 20px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .menu {
        right: -100vw; 
        width: 100vw; 
        top: 50px;
    }

    .menu.open {
        right: 0; 
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu li a {
        width: 100%;
        text-align: center;
    }

    
}
